[workspace.package]
license = "MIT OR Apache-2.0"
repository = "https://github.com/crate-ci/committed"
edition = "2021"
rust-version = "1.64.0"  # MSRV
include = [
  "src/**/*",
  "Cargo.toml",
  "Cargo.lock",
  "LICENSE*",
  "README.md",
  "examples/**/*"
]

[package]
name = "committed"
version = "1.0.5"
description = "Nitpicking commit history since beabf39"
documentation = "https://docs.rs/committed"
readme = "README.md"
categories = ["development-tools", "text-processing"]
keywords = ["development"]
license.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
include.workspace = true

[package.metadata.release]
pre-release-replacements = [
  {file="CHANGELOG.md", search="Unreleased", replace="{{version}}", min=1},
  {file="CHANGELOG.md", search="\\.\\.\\.HEAD", replace="...{{tag_name}}", exactly=1},
  {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}", min=1},
  {file="CHANGELOG.md", search="<!-- next-header -->", replace="<!-- next-header -->\n## [Unreleased] - ReleaseDate\n", exactly=1},
  {file="CHANGELOG.md", search="<!-- next-url -->", replace="<!-- next-url -->\n[Unreleased]: https://github.com/crate-ci/committed/compare/{{tag_name}}...HEAD", exactly=1},
  {file="Dockerfile", search="ARG VERSION=.*", replace="ARG VERSION={{version}}", min=1},
  {file="docker/Dockerfile", search="ARG VERSION=.*", replace="ARG VERSION={{version}}", min=1},
  {file="README.md", search="rev: .*", replace="rev: {{tag_name}}", exactly=1},
  {file="setup.py", search="\nVERSION = .*", replace="\nVERSION = '{{version}}'", exactly=1},
]

[dependencies]
regex = "1.6"
once_cell = "1.16.0"
git-conventional = "0.12"
unicase = "2.6.0"
anyhow = "1.0"
git2 = { version = "0.15", default-features = false }
clap = { version = "4.0", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.5"
unicode-segmentation = "1.10.0"
log = "0.4"
env_logger = "0.9"
clap-verbosity-flag = "2.0"
yansi = "0.5.1"
concolor = { version = "0.0.11" }
concolor-clap = { version = "0.0.12", features = ["api_unstable"] }
grep-cli = "0.1"
imperative = "1.0"
derive_more = "0.99.17"
itertools = "0.10.5"
proc-exit = "2.0"
human-panic = "1.0.3"
