[package]
name = "committed"
version = "0.1.6"
authors = ["Ed Page <eopage@gmail.com>"]
description = "Nitpicking commit history since beabf39"
repository = "https://github.com/crate-ci/committed"
documentation = "https://docs.rs/committed"
readme = "README.md"
categories = ["development-tools", "text-processing"]
keywords = ["development"]
license = "MIT"
edition = "2018"

[badges]
azure-devops = { project = "crate-ci", pipeline = "committed" }
codecov = { repository = "crate-ci/committed" }

[dependencies]
regex = "1.0"
once_cell = "0.2.4"
unicase = "2.4.0"
failure = "0.1"
git2 = "0.9"
clap = "2"
structopt = "0.2.18"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.4"
unicode-segmentation = "1.3.0"
log = "0.4"
env_logger = "0.5"
clap-verbosity-flag = "0.2.0"
grep-cli = "0.1"
imperative = "1.0"
derive_more = "0.15.0"
itertools = "0.8.0"
