[package]
name = "committed"
version = "0.1.25"
authors = ["Ed Page <eopage@gmail.com>"]
description = "Nitpicking commit history since beabf39"
repository = "https://github.com/crate-ci/committed"
documentation = "https://docs.rs/committed"
readme = "README.md"
categories = ["development-tools", "text-processing"]
keywords = ["development"]
license = "MIT"
edition = "2018"

[badges]
codecov = { repository = "crate-ci/committed" }

[dependencies]
regex = "1.4"
once_cell = "1.7.2"
git-conventional = "0.9"
unicase = "2.4.0"
anyhow = "1.0"
git2 = { version = "0.13", default-features = false }
clap = "2"
structopt = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.5"
unicode-segmentation = "1.8.0"
log = "0.4"
env_logger = "0.8"
clap-verbosity-flag = "0.3"
grep-cli = "0.1"
imperative = "1.0"
derive_more = "0.99.14"
itertools = "0.10.0"
